pkgbase = php-firebird
	pkgdesc = Firebird module for PHP
	pkgver = 8.3.14
	pkgrel = 1
	url = http://www.php.net
	arch = x86_64
	license = PHP-3.01
	depends = php=8.3.14
	depends = glibc
	depends = libfbclient
	source = https://php.net/distributions/php-8.3.14.tar.xz
	source = pdo_firebird.ini
	sha256sums = 58b4cb9019bf70c0cbcdb814c7df79b9065059d14cf7dbf48d971f8e56ae9be7
	sha256sums = 41187271bb8a552ff10c997bc31557f9f09f47087618fde0c08e3304e204b771

pkgname = php-firebird
