pkgbase = php-firebird
	pkgdesc = Firebird module for PHP
	pkgver = 8.4.5
	pkgrel = 1
	url = http://www.php.net
	arch = x86_64
	license = PHP-3.01
	depends = php=8.4.5
	depends = glibc
	depends = libfbclient
	source = https://php.net/distributions/php-8.4.5.tar.xz
	source = pdo_firebird.ini
	sha256sums = 0d3270bbce4d9ec617befce52458b763fd461d475f1fe2ed878bb8573faed327
	sha256sums = 41187271bb8a552ff10c997bc31557f9f09f47087618fde0c08e3304e204b771

pkgname = php-firebird
