pkgbase = php-firebird
	pkgdesc = Firebird module for PHP
	pkgver = 8.5.4
	pkgrel = 1
	url = http://www.php.net
	arch = x86_64
	license = PHP-3.01
	depends = php=8.5.4
	depends = glibc
	depends = libfbclient
	source = https://php.net/distributions/php-8.5.4.tar.xz
	source = pdo_firebird.ini
	sha256sums = c1569f1f543f6b025c583cdc0e730e5c5833c603618613f1aa8e75d1524b8c91
	sha256sums = 41187271bb8a552ff10c997bc31557f9f09f47087618fde0c08e3304e204b771

pkgname = php-firebird
